*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:  'outfit';
    background: linear-gradient(#ffdad5,#fff7f9);
    background-repeat: no-repeat;
    min-height: 100vh ;
}
.contact-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-left{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    width:450px;
}
.contact-left-title h2{
    font-weight: 600;
    color: #a363aa;
    font-size: 40px;
    margin-bottom: 5px;
    width: 100%;
}
.contact-left-title hr{ 
    border: none;
    width: 100px;
    height: 5px;
    background-color: #a363aa;
    border-radius: 10px;
    margin-bottom: 20px;
}
.contact-inputs{
    width: 75%;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
    background: #fff7f9;
    margin-bottom: 5px;
}

.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-left button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 50px;
    background: linear-gradient(270deg,#ff99ac,#f9647c);
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
}
.contact-left button:hover{
    opacity: 0.9;
}
